#waybar {
    font-family: "Inconsolata", "FontAwesome 6 Free";
    font-size: 13px;
    background-color: #282828;
    border: none;
    color: #ffffff;
}

.modules-left {
    margin: 4px;
    background-color: #303030;
    border-radius: 5px;
}

.modules-center {

}

.modules-right {
    margin: 4px;
    background-color: #303030;
    border-radius: 5px;
}

#workspaces button {
    padding: 0 4px;
    color: #ffffff;
}

#workspaces button:hover {
    background: transparent;
    border: transparent;
    box-shadow: none;
}

#clock, #battery, #wireplumber, #temperature, #network {
    padding: 0 8px
}
