* {
    font-family: FontAwesome, Rubik, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(8, 8, 8, 0.95);
    color: #f0f0f0;
}


window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}



#workspaces button {
    padding: 0 5px;

    color: #f0f0f0;
    background: transparent;

    border: none;
    border-radius: 0;
    border-top: 2px solid transparent;

    transition: none;
}

#workspaces button:hover {
    border-top: 2px solid #f0f0f0;

    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    border-top: 2px solid #f0f0f0;
}

#workspaces button.urgent {
    border-top: 2px solid #ff0000;
}



#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#wireplumber,
#tray,
#scratchpad {
    padding: 0 10px;
    color: #ffffff;
    background-color: transparent;

    border-top: 2px solid transparent;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#wireplumber:hover {
    border-top: 2px solid #f0f0f0;
}



#window,
#workspaces {
    margin: 0 4px;
}



/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

