window {
    background-color: #1e1e2e;
    color: #cdd6f4;

    border: 2px solid #b4befe;
}

#outer-box {
    padding: 5px;
}

#input {
    background-color: transparent;
    border: none;
    outline: transparent;

    border-radius: 0;
    border-color: transparent;

    color: #cdd6f4;
}

#input:focused {
    box-shadow: none;
}

#entry {
    background-color: transparent;
}

#entry:selected {
    background-color: #b4befe;
    color: #1e1e2e;

    outline: none;
}

#text {
    color: #cdd6f4;
}

#text:selected {
    color: #1e1e2e;
}

